.navbar{
    background-color: #66c43c;
    font-weight: 400;
   
}
.nav1-1 img{
    width: 170px;
    height: 60px;
}
.navbar-nav{
    margin-left:150px;
}
 .nav-item{
    margin-left: 50px;
   
 }
 .nav-link{
    color: #353535;

 }
 .nav-link:hover{
  background-color:#97db78
 }
 .nav-link{
  font-weight: 500;
  font-size: larger;
 }
 .nav1-1{
    display:  flex;
 }
 .nav1-1 div i{
    color: #7ADF4E;
 }
 .nav1-1-1{
    margin-left: 800px;
 }